/**/
.kurukuru{
    display:none;
    margin:0 auto;
    margin-bottom: -102px;
    color:#ffffff;
}

/* 不使用  */
.server_trans{
    display:none;
}

#map {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}